body {
  padding-top: 80px;
}

.logo {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    float: left;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 5px;
}

.bb {
    height: 18px;
}
