<div class="container" ng-controller="employeesCtrl">

    <div class="form-group">
        <input type='text' ng-model='searchText' class='form-control' placeholder='Filtr'>
    </div>
    <div class="form-group">
        <b>Sortowanie:</b>
        <select ng-model='sort' class='form-control'>
            <option value='name'>name</option>
            <option value='last'>last</option>
            <option value='born'>born</option>
            <option value='sex'>sex</option>
            <option value='hobby'>hobby</option>
        </select>
    </div>

    <table class="table table-striped">
        <tr ng-repeat="employee in employees.list | orderBy:sort | filter:searchText">
            <td><img ng-src="{{employee.img}}" alt="image" class='img-circle' width='50px'>
            </td>
            <td>{{employee.name}}</td>
            <td>{{employee.last}}</td>
            <td birthday date="employee"></td>
            <td>{{employee.hobby}}</td>
            <td>{{employee.sex}}</td>
        </tr>
    </table>
</div>
