<div class="container">
    <div ng-controller="ContactForm">
        <form name="contactForm" novalidate>
            <div class="controls form-inline form-group has-error">
                <input type="text" ng-model="message.name" class="form-control" placeholder="Imię" />
                <input id='uEmail' type="email" ng-model="message.email" class="form-control" placeholder="E-mail" name="uEmail" />
                <label for='uEmail' ng-show="contactForm.uEmail.$error.email" class="control-label">This is not a valid email.</label>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="3" ng-model="message.text"></textarea>
            </div>
            <input type="button" ng-click="reset(message)" value="Wyczyść" class="btn btn-default" />
            <input type="submit" ng-click="send(message)" value="Wyślij" class="btn btn-primary" />
        </form>
        {{outmessage}}
        <!--<pre>master = {{master | json}}</pre>-->
    </div>
</div>
